/* rgb(179, 233, 221)

background
rgb(242, 240, 237)

cardcolor
rgb(255, 255, 255)

btncolor
rgb(224, 99, 88)


/* :root {
    --primary-color:;
    --secondary-color:;
    --white:;
} */

/* btn :hover
rgb(212, 76, 70) */ 